/* Custom CSS for admonitions */
.admonition {
    margin: 10px 0px;
    padding: 5px 15px;
    border-radius: 5px;
    border: 1px solid #ccc;
}
  
.admonition-title {
    font-size: 1.2em;
    font-weight: bold;
}

.admonition-content {
}
