@tailwind base;
@tailwind components;
@tailwind utilities;


/* strong style */
strong {
    color: #ff5d17 !important;
}

/* inline code style */
.prose code:not(pre code) {
    background-color: rgb(242, 243, 244);
    font-weight: 500;
    color: #fe00dc;
    border: 1px solid #e5e7eb;
}

/* link style */
.prose :where(a):not(:where([class~="not-prose"] *)) {
    font-weight: 400;
    color: #005dfe;
}

/* p tag style in admonitions */
.prose :where(p):not(:where([class~="not-prose"] *)) {
    margin-top: 10px;
    margin-bottom: 10px;;
}
